<div class="container-md m-5">
    <h1 class="d-flex justify-content-center"><strong>HISTORIA</strong></h1>
    <p class="text-primary m-md-5">El nacimiento de las aldeas ocultas data de los tiempos de la Era de Guerra entre Clanes. 
        Hashirama Senju y Madara Uchiha se encontraban exhaustos de una época gobernada por una gran 
        cantidad de guerras y varios niños aniquilados durante las batallas, así que decidieron implementar un sistema en el cual 
        os shinobis dejaran de pelear y comenzaran a arreglar todos sus asuntos a través de conversaciones, además de establecer un 
        lugar donde los niños no se tuvieran que matar entre ellos. La aldea nació con la idea de la existencia de una locación donde 
        varios shinobis pudieran vivir en paz como una familia, donde tuvieran la posibilidad de llevar una vida pacífica y regular.
    </p>
    <div class="d-flex justify-content-center">
        <img src="../../../assets/img/Los_senju_y_Uchiha.png" class="img-fluid rounded-3 " alt="">
    </div>
    <p class="text-primary m-md-5">Para lograr dicho sueño, Hashirama y su clan junto a Madara y su clan hicieron un tratado de paz y, 
        al ser los clanes más poderosos y prestigiosos de la época, paulatinamente los demás clanes decidieron integrarse a la idea planteada por éstos. 
    De esa manera, luego de hacer un acuerdo con el País del Fuego, nació la primera aldea oculta con el propósito de proteger la paz del país, 
    Konohagakure, nombre dado por Madara. El resto del mundo, al ver que los clanes Senju y Uchiha lograron unificarse para un bien, comenzaron a crear 
    sus propias aldeas ocultas en diferentes territorios, lográndose el propósito de evitar mayores batallas y los shinobis ya no debían ensuciar sus manos 
    con sangre, sólo preocuparse por estudiar y crecer de manera sana.
    </p>

    <div class="col-6 offset-3 my-4 d-flex justify-content-between align-content-center">
        <button class="btn btn-warning" [routerLink]="['/crear-personaje']" routerLinkActive="router-link-active" >Crear Personaje</button>
        <button class="btn btn-secondary" [routerLink]="['/listar-personajes']" routerLinkActive="router-link-active" >Lista de Personajes</button>
    </div>
</div>

