<div class="container-fluid fondo">
    <div class="row">
        <div class="col-8 offset-2 mt-5"></div>
        <p class="h1 text-center fw-bold">{{tituloForm}}</p>
    </div>
    <div class="col-6 offset-3">
        <form class="mt-5" [formGroup]="personajeForm" (ngSubmit)="modificacion_data_Personaje()" >
            <div class="my-3">
                <input formControlName="personajeNombre" class="form-control form-control-lg" type="text" placeholder="Nombre">
                <div *ngIf="personajeForm.get('personajeNombre')?.hasError('required') && personajeForm.get('personajeNombre')?.touched" class="alert alert-danger fst-italic">
                    *El nombre del personaje es obligatorio
                </div>
            </div>
            <div class="my-3">
                <!-- <input formControlName="personajeGenero" class="form-control form-control-lg" type="text" placeholder="Genero"> -->
                <select formControlName="personajeGenero" class="form-control form-control-lg" name="Genero">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
                <div *ngIf="personajeForm.get('personajeGenero')?.hasError('required') && personajeForm.get('personajeGenero')?.touched" class="alert alert-danger fst-italic">
                    *El genero del personaje es obligatorio
                </div>
            </div>
            <div class="my-3">
                <input formControlName="personajeTecnicas" class="form-control form-control-lg" type="text" placeholder="Tecnicas">
                <div *ngIf="personajeForm.get('personajeTecnicas')?.hasError('required') && personajeForm.get('personajeTecnicas')?.touched" class="alert alert-danger fst-italic">
                    *Las tecnicas del pesonaje son obligatorias
                </div>
            </div>
            <div class="my-3">
                <input formControlName="personajeClan" class="form-control form-control-lg" type="text" placeholder="Clan">
                <div *ngIf="personajeForm.get('personajeClan')?.hasError('required') && personajeForm.get('personajeClan')?.touched" class="alert alert-danger fst-italic">
                    *El clan del personaje es obligatorio
                </div>
            </div>
            <div class="my-3">
                <input formControlName="personajeChakra" class="form-control form-control-lg" type="text" placeholder="Naturaleza Chakra">
                <div *ngIf="personajeForm.get('personajeChakra')?.hasError('required') && personajeForm.get('personajeChakra')?.touched" class="alert alert-danger fst-italic">
                    *La naturaleza del Chakra del personaje es obligatorio
                </div>
            </div>
            <div class="col-12 py-5 d-flex justify-content-between align-content-center">
                <button class="btn btn-warning" [routerLink]="['/listar-personajes']" routerLinkActive="router-link-active" >Cancelar</button>
                <button type="submit" class="btn btn-secondary"[disabled]="personajeForm.invalid">Guardar Personaje</button>
            </div>    
        </form>
    </div>
</div>
