<div class="container">
    <h1 class="m-5 text-center titulo"><strong>BESTIAS CON COLA</strong></h1>

    <div class="card mb-3">
        <img src="../../../assets/img/Bijuu_bestias_con_colas.webp" class="card-img-top imagenborde" alt="...">
        <div class="card-body">
            <p class="card-text">Las Bestias con Cola son nueve gigantescas criaturas que se caracterizan por tener un número determinado de colas, 
            que van desde una hasta nueve, y que originalmente eran partes del Diez Colas quien es la bestia con cola original; éstas son formas vivientes de chakra. <br>

        <br> A veces éstos son referidos también como “Monstruos de Chakra”, en sus portadores, los Jinchūriki, obtienen poder 
            y un chakra inmensamente superior que el de un shinobi promedio, éstos se le pueden reconocer ya por liberar un chakra rojo.</p>
        </div>
    </div> 

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="..//..//../assets/img/Gaara_y_Shukaku.webp" class="card-img-top imagencolor" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Shukaku & Jinchūriki Gaara</h5>
                    <p class="card-text"><strong class="text-primary">Shukaku,</strong> también conocido como el Una Cola que fue selldo en Gaara, es una de las Bestias con Cola creadas por el Sabio de los Seis Caminos, 
                        su apariencia es un tanuki de color arena oscura y líneas azules por todo el cuerpo, su cara, además de su única cola la cual es 
                        gigantesca y que al aparecer esta formada por varias colas más pequeñas. Tiene una boca cóncava irregular, la esclerótica de sus ojos son negros con 
                        un iris de color amarillo y una pupila en forma de Shuriken con un punto en cada esquina. 
                        Es inteligente, pero también incoherente, dándole un aire de borracho, lo cual encaja bien con la típica representación del tanuki en el folclore japonés.
                    </p>
                </div>         
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/Matatabi-y-YugitoNii.png" class="card-img-top imagencolor" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Matatabi & Jinchūriki Yugito Nii</h5>
                    <p class="card-text"><strong class="text-primary">Matatabi,</strong> conocido como el Dos Colas es una Bestia con Cola que fue sellado en Yugito Nii de Kumogakure, 
                        es un gato gigantesco con apariencia espectral que está formado por llamas azules con destellos negros, posee dos largas colas que le otorgan su apodo de Nibi, 
                        su ojo izquierdo es de color verde y su ojo derecho es de color amarillo, también posee una mancha que une sus ojos como un antifaz. 
                        Tiene una gran fuerza, posee la capacidad de crear bolas concentradas de chakra así como disparar inmensas esferas de fuego, puede atacar usando sus garras, 
                        es muy flexible por eso es que tiene una gran velocidad y agilidad. Además Matatabi tiene la capacidad de utilizar el Elemento Fuego.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/Isobu.webp" class="card-img-top imagencolor" alt="...">
                    <div class="card-body">
                    <h5 class="card-title fw-bold">Isobu & Jinchūriki Rin Nohara</h5>
                <p class="card-text"><strong class="text-primary">Isobu,</strong> también conocido como el Tres Colas es una Bestia con Cola que fue sellada en Rin Nohara.
                    Isobu se asemeja a una tortuga, pero con un caparazón de cangrejo y tres colas parecidas a las de los camarones. No tiene patas traseras, sólo un par de patas delanteras. 
                    Su ojo derecho está constantemente cerrado, lo que indica algún tipo de lesión, y debido a esto, es particularmente vulnerable a los ataques dirigidos en su ojo izquierdo. 
                    Su ojo izquierdo se parece mucho al Rinnegan.
                    sobu demostró ser capaz de rodar a una gran velocidad para evadir ataques o embestir a sus oponentes, haciendo pleno uso de su concha y sus protuberancias.
                    También es capaz de golpear con cualquiera de sus tres colas puntiagudas para dar golpes devastadores[25] o, en el anime, romper la defensa de sus oponentes.
                    Su piel es muy dura, proveyéndole junto con su caparazón una defensa muy resistente. 
                </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/Roshi_y_el_Cuatro_Colas.webp" class="card-img-top imagencolor" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Son Gokū Seiten Taise & Jinchūriki Rōshi</h5>
                    <p class="card-text"><strong class="text-primary">Son Gokū Seiten Taisei,</strong> es una Bestia con Cola sellado en Rōshi de Iwagakure.
                        tiene iris de color amarillo, pupilas blancas, piel roja en casi todo su cuerpo a excepción de sus manos, pies, pecho y parte de la cara, 
                        la cual es de color verde. Aunque es un mono, tiene muchas características de un gorila. También tiene cuernos en la frente, colmillos alargados 
                        y sobresalientes puntas en cada una de sus colas. Sus largos caninos parecen estar rotos y son más oscuros en los extremos. Su rostro es similar a los Darumas japoneses. 
                        En la boca, tiene una abertura grande, redonda, donde escupe fusión y no parece tener una lengua. En la piel, barba y en la parte superior de la espalda, se asemeja a la barba de Rōshi y su peinado. 
                        Como una de las Bestias con Cola, Son posee inmensas reservas de chakra, y al igual que sus hermanos, podía usar la Bola Bestia con Cola. Además, es capaz de liberar una gran llamarada de fuego verde. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/Kokuo hannaruto.webp" class="card-img-top imagencolor" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Kokuō & Jinchūriki Akatsuki</h5>
                    <p class="card-text"><strong class="text-primary">Kokuō,</strong> conocido como el Cinco Colas es una Bestia con Cola con forma de caballo y delfín, sellado en Han de Iwagakure. Fue capturado, extraído y sellado por Akatsuki.
                        Esta bestia con cola tiene el cuerpo de un caballo, pero la cabeza está basada en la de un delfín. Es casi completamente blanco azulado y, aparentemente, tiene cinco cuernos en la parte posterior de la cabeza. 
                        Los iris de sus ojos son celestes y sus ojos tienen debajo una línea roja parecida a las que tiene Kimimaro, como si fueran ojeras. 
                        tiene grandes reservas de chakra y que también puede usar la Bola Bestia con Cola. Además, demostró tener una inmensa fuerza y rapidez sin tener en cuenta su gran tamaño, siendo capaz incluso de utilizar 
                        sus cuernos para lastimar a objetivos de su mismo tamaño. Durante la Cuarta Guerra Mundial Shinobi, el Cinco Colas junto con otras cuatro bestias con cola fue capaz de crear una Bola Bestia con Cola de un tamaño colosal. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/Rokubi_y_Utakata.webp" class="card-img-top imagencolor" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Saiken & Jinchūriki Utakata</h5>
                    <p class="card-text"><strong class="text-primary">Saiken,</strong> también conocido como el Seis Colas es una Bestia con Cola, sellado en Utakata de Kirigakure. Saiken fue capturado por Nagato y sellado por Akatsuki, 
                        luego fue liberado por la Gran Alianza Shinobi, sin embargo fue re-capturado por Madara Uchiha. 
                        Esta bestia es una babosa blanca con seis colas, con ojos saltones de color negro, su cuerpo esta cubierto por un líquido que parece ser pegajoso, su boca por estar cubierta por este líquido se ve como pequeños orificios, 
                        la punta de sus colas se ve como si fueran redondas y tiene dos pequeños brazos y dos piernas, con dedos en ellos. 
                        Como una Bestia con Cola, Saiken tiene unas increíbles reservas de Chakra, y además como todas las Bestias con Cola es capaz de utilizarlo para crear la Bola Bestia con Cola. Además Saiken es capaz de mantener conversaciones telepáticas con las otras Bestias con Cola. 
                        Saiken es capaz de producir sustancias corrosivas tanto de forma líquida como de gas las cuales son extremadamente peligrosas al contacto desintegrando todo lo que toca, como se vio que es capaz de quemar la piel de otra Bestia. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/Fu_y_el_Siete_Colas.webp" class="card-img-top imagencolor" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Chōmei & Jinchūriki Fū</h5>
                    <p class="card-text"><strong class="text-primary">Chōmei,</strong> también conocido como el Siete Colas previo a su extracción por Akatsuki, 
                        se encontraba sellada dentro de Fū, una kunoichi de Takigakure. Este Bijū se parece a un Kabutomushi gigantesco y azul, 
                        con seis de sus siete colas que parecen seis alas de insecto verdes, junto con la séptima cola, todas creciendo en el final de su abdomen. 
                        El vástago de la cola es verde, pero las alas son de color naranja. Sus ojos parecen estar cubiertos por un cráneo de casco, desde el interior de los cuales, 
                        e puede ver un brillo de color naranja, su boca es aparentemente dos mandíbulas en forma de tenazas y tras ellas hileras de afilados dientes. También tiene 
                        protuberancias sobre sus hombros, y una fila de cortes en cada hombro, y seis patas, tres a cada lado. Las patas están también cubiertas por la armadura azul, 
                        sin embargo, el último segmento en cada pata no está cubierto y por lo tanto son verdes. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/Gy ki.webp" class="card-img-top imagencolor" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Gyūki & Jinchūriki Killer B</h5>
                    <p class="card-text"><strong class="text-primary">Gyūki,</strong> también conocido como el Ocho Colas es una Bestia con Cola con la apariencia de un buey mitad pulpo, que se encontraba sellado en el cuerpo de un shinobi de Kumogakure apodado Killer B, 
                        sin embargo, fue capturado por Madara Uchiha. Gyūki tiene la apariencia de un Ushin-oni con cuatro cuernos: dos en la frente y dos detrás de la cabeza, además tiene una quinta protuberancia que sale de su barbilla similar a una barba. 
                        El cuerno izquierdo de su frente fue cortado por A. Esta bestia tiene una estructura muscular superior, con una espalda jorobada, los brazos tienen púas que nacen en los codos y posee pulgares opuestos en sus manos, 
                        además carece de patas traseras, su mitad inferior está formada por las colas que se componen de ocho tentáculos que se asemejan a los brazos de un pulpo cefalópodo. Estas colas vuelven a crecer en el caso de que se corten. 
                        También es masivamente grande, coincidiendo con el tamaño del Calamar Gigante. Con su gran cantidad de chakra, puede disparar ráfagas enormes de chakra. A pesar de su enorme tamaño, sus cuernos son increíblemente fuertes, junto con su gran fuerza física, 
                        Gyuki es capaz de atravesar fácilmente a un ser humano. Sus tentáculos ofrecen varios apéndices adicionales con ellos puede interactuar con su entorno y los objetivos de la cercanía, a pesar de esto se cortan fácilmente. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/kurama-narutos.jpg" class="card-img-top imagencolor" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Kurama & Jinchūriki Naruto Uzumaki</h5>
                    <p class="card-text"><strong class="text-primary">Kurama,</strong>  también conocido como el Nueve Colas fue una Bestia con Cola que se encontraba sellada dentro de Naruto Uzumaki, siendo considerada la más poderosa de las nueve bestias creadas por el Sabio de los Seis Caminos. 
                        Kurama era un kitsune con el pelaje color rojo-naranja y ojos rojos, poseía una estructura superior del cuerpo del ser humano, con pulgares opuestos en las manos con garras. Telepatía de Bestia con Cola, Detección de Sentimientos Negativos, Curación Acelerada
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

