<div class="container my-4">
    <h1 class="d-flex justify-content-center m-5"><strong>Cinco Grandes Aldeas Shinobi</strong></h1> 
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
        <div class="card">
            <img src="../../../assets/img/Aldea_Oculta_Entre_las_Hojas-Konoha.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><strong>Aldea Oculta entre las Hojas</strong></h5>
                <p class="card-text">El líder de la aldea es conocido como Hokage, existiendo siete hasta el momento.
                El símbolo que llevan sus ninjas como protector, es una hoja en diagonal.
                Se caracteriza por ser la primera aldea oculta creada en el mundo shinobi.
                El nacimiento de esta aldea puso fin a la Era de Guerra entre Clanes.
                Fue fundada en manos de los dos clanes más fuertes de la historia, el Clan Senju y el Clan Uchiha.
                Primera aldea en poseer un Kage, siendo Hashirama Senju.
                Se encargaron de repartir las Bestias con Cola entre las otras grandes aldeas ninja para promover la unión y la paz entre naciones.
                </p>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card">
            <img src="../../../assets/img/Aldea-Oculta-entre-las-Nubes-Kumo.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><strong>Aldea Oculta entre las Nubes</strong></h5>
                <p class="card-text">El líder de la aldea es conocido como Raikage, existiendo cinco hasta el momento.
                Es considerada la segunda aldea más poderosa, después de Konohagakure.
                Sus ninjas se especializan en técnicas basadas en el Elemento Rayo y en el Kenjutsu.
                Aldea poseedora de dos Bestias con Cola, Matatabi y Gyūki.
                El único clan conocido es el Clan Yotsuki.
                Su símbolo son dos óvalos alargados conectados entre sí por un extremo y un tercer óvalo ubicado por separado al izquierdo de los otros dos, emulando las nubes.
                </p>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card">
            <img src="../../../assets/img/Aldea_Oculta_entre_las_Rocas.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><strong>Aldea Oculta entre las Rocas</strong></h5>
                <p class="card-text">El líder de la aldea es conocido como Tsuchikage, existiendo cuatro hasta el momento.
                    Es una de las aldeas que más enfrentamientos posee contra sus iguales, especialmente Konohagakure y Kirigakure
                    Aldea de origen de Deidara, miembro de la organización Akatsuki.
                    Única aldea que contrató a los miembros de Akatsuki como mercenarios.
                    Aldea poseedora de dos Bestias con Cola, Son Gokū y Kokuō.
                    Única aldea que posee shinobis con un Kekkei Tota.
                    Se encuentra ubicada en una zona protegida por montañas.
                    Sus shinobis se especializan en técnicas basadas en el Elemento Tierra.
                </p>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card">
            <img src="../../../assets/img/Aldea-oculta- niebla-Kiri_Aldea.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><strong>Aldea Oculta entre la Niebla</strong></h5>
                <p class="card-text">El líder de la aldea es conocido como Mizukage, existiendo seis hasta el momento.
                    Fue conocida durante un tiempo como la Aldea de la Niebla Sangrienta (血霧の里, Chigiri no Sato).
                    Sus ninjas son especialistas de técnicas basadas en el Elemento Agua y en Jutsu: Ocultación en la Niebla.
                    Aldea origen de los renombrados Siete Espadachines de la Niebla y de Kisame Hoshigaki, miembro de Akatsuki.
                    Aldea poseedora de dos Bestias con Cola, Saiken e Isobu.</p>
            </div>
        </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/img/Aldea-Oculta-entre-la-Arena.png" class="card-img-top" alt="...">
            <div class="card-body">
                    <h5 class="card-title"><strong>Aldea Oculta entre la Arena</strong></h5> 
                    <p class="card-text">El líder de la aldea es conocido como Kazekage, existiendo cinco hasta el momento.
                    Lugar de origen de los Hermanos de la Arena: Gaara, Kankurō y Temari.
                    Aldea origen de Sasori, miembro de la organización Akatsuki.
                    Se dice que el Shukaku (su única Bestia con Cola) se originó allí, siendo el espíritu corrupto de un monje encerrado en una tetera.
                    Al convertirse Gaara en el Quinto Kazekage, esta aldea entabló una alianza con Konohagakure.
                    Su símbolo de protector frontal es un reloj de arena.
                    Se caracterizan por tener un arte ninja propio, el marionetismo en conjunto con el uso de armas envenenadas, además del uso de técnicas basadas en el Elemento Viento y el Elemento Imán.</p>
            </div>
            </div>
        </div>
    </div>
</div>