<div class="container-fluid img404">
    <div class="col-12 d-flex justify-content-center align-items-center flex-column ancho-vista">
        <!-- <img src="assets/img/naruto404.jpg" class="w-25 "> -->
        <h1 class="text-dark fw-bold text404">¡404!</h1>
        <h2 class="text-white fw-bolder animate__animated animate__flipInX"> Oppss! Página no encontrada...</h2>
        <button class="btn btn-dark mt-3" [routerLink]="['/']" routerLinkActive="router-link-active" ><b>Volver al Inicio</b></button>
    </div>
</div>
