<div class="container">
    <div class="row">
        <div class="col-8 offset-2 mt-5 mb-5"> 
            <p class="h1 text-center fw-bold">Crea tu cuenta</p>
        </div>     
            <div class="col-6 offset-3">
                <form class="mt-5" [formGroup]="usuarioForm" (ngSubmit)="agregarUsuario()">
                    <div class="mb-3">
                        <label class="form-label">Tipo de identificación</label>
                        <select formControlName="usuarioTipIdentificacion" class="form-select">
                            <option selected>Seleccione</option>
                            <option value="1">Cédula</option>
                            <option value="2">Cédula Extranjeria</option>
                            <option value="3">Tarj.Identidad</option>
                        </select>
                        <span *ngIf="usuarioForm.get('usuarioTipIdentificacion')?.hasError('required') && usuarioForm.get('usuarioTipIdentificacion')?.touched" class="text-danger fw-bold">
                            *Debe seleccionar un valor.
                        </span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">identificación</label>
                        <input formControlName="usuarioIdentificacion" type="number" step="1" class="form-control" >
                        <span *ngIf="usuarioForm.get('usuarioIdentificacion')?.hasError('required') && usuarioForm.get('usuarioIdentificacion')?.touched" class="text-danger fw-bold">
                            *Número de identificación es obligatorio.
                        </span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correo electrónico</label>
                        <input formControlName="usuarioEmail" type="email" class="form-control">
                        <div class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
                        <span *ngIf="usuarioForm.get('usuarioEmail')?.hasError('required') && usuarioForm.get('usuarioEmail')?.touched" class="text-danger fw-bold">
                            *Correo eléctronico obligatorio.
                        </span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Teléfono celular</label>
                        <input formControlName="usuarioTelefono" type="tel" class="form-control">
                        <span *ngIf="usuarioForm.get('usuarioTelefono')?.hasError('required') && usuarioForm.get('usuarioTelefono')?.touched" class="text-danger fw-bold">
                            *Teléfono es obligatorio.
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>                    
                    <div class="col-12 my-5 d-flex justify-content-center align-content-center">
                        <button type="submit" class="mb-5 btn btn-secondary"[disabled]="usuarioForm.invalid">Registrarse</button>
                    </div>
                    
                </form>
            </div>
    </div>
</div>

