

<div class="container m-5">
    <div>
        <h1 class="d-flex justify-content-center"><strong>Banda Sonora</strong></h1>
        <p class="m-md-5">La <strong>Banda Sonora de Naruto</strong> está compuesta de una serie de canciones de apertura y cierre de los episodios (Opening y Ending), pertenecientes a grupos conocidos en Japón para la versión original.
        En el anime Naruto, todas estas piezas son obra del compositor <strong>Toshiro Masuda.</strong> 
        </p>
    </div>
    <div class="ratio ratio-21x9 m-md-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0TsE01qdy5A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="ratio ratio-21x9 m-md-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SneJOp9yzjI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="ratio ratio-21x9 m-md-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SneJOp9yzjI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    
</div>